@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Darker+Grotesque:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
/*
"Courier New" fonte para o fundo
"Courier " fonte para o texto
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --cor-principal: #fcddbf;
  --cor-principal2: #f13c00; */

  --cor-principal: #ffa3a3;
  --cor-principal2: #ffc4c4;

  --cor-secundaria: #ff8282;
  --cor-fonte: #202215;

  --cor-fonte-claro: #202215;



  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: #202215;
  /* background: linear-gradient(
    135deg,
    var(--cor-principal) 10%,
    var(--cor-principal2) 90%
  ); */

    background: radial-gradient(
    var(--cor-principal) 50%,
    var(--cor-principal2) 180%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-family: 'Darker Grotesque', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: var(--cor-fonte);
  text-decoration: inherit;
}

a:hover {
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  /* button {
    background-color: #f9f9f9;
  } */

  .vermelho {
    background-color: #ff0000;
  }

  .azul {
    background-color: #0000ff;
  }

  .amarelo {
    background-color: #ffff00;
  }

  .verde {
    background-color: #00ff00;
  }

  .preto {
    background-color: #000000;
  }

  .branco {
    background-color: #ffffff;
  }

  .rosa {
    background-color: #ff69b4;
  }
}